:root{
  --red : #FA7070;
  --green : #C6EBC5;
}
body{
  background-color: #000;
  color: #fff;
}
button{
  background-color: transparent;
  color: rgba(255, 255, 255, 0.8);
  border: 0;
  width: 100px;
  display: inline-block;
  cursor: pointer;
}
button.with-text{
  width: auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1.4rem;
  line-height: 36px;
}
button.with-text svg{
  width: 36px;
  float:left;
  margin-right: 5px;
}
.App{
  padding-top: 50px;
  max-width: 340px;
  margin: 0 auto;
  text-align: center;
}
label{
  display:block;
  margin-bottom: 10px;
  margin-top: 20px;
  text-transform: capitalize;
}